body{
    display: flex;
    flex-direction: column;
}

#bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;
    gap: 2em;
}

#addBookBtn{
    position: absolute;
}

#popUpForm{
    display: none;
    position: absolute;
    width: 25em;
    z-index: 1;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.8);
}

.label,
.inputs,
#popUpTitle{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0.3em;
}

#popUpTitle{
    margin-top: 1.25em;
    margin-bottom: 0.75em;
    font-size: 2.5em;
}

#cancelBtnLbl{
    display:flex;
    justify-content: flex-end;
    margin-top: 5%;
    margin-right: 5%;
}

.label{
    font-weight: bold;
}

#checkBox{
    display:flex;
    justify-content: center;
}

#submitBtn{
    display:flex;
    justify-content: center;
    margin-bottom: 5%;
}

/* CSS for newly created cards */
#books{
    margin-top: 4em;
    display:flex;
    padding:1em;
    flex-wrap: wrap;
    gap: 1em;
}

.card{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1.3em;
    height: 20em;
    width: 20em;
}

.cardButtons{
    display:flex;
    justify-content: center;
    width: 14em;
    border: 0px;
}